@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.head1 {
    background: #D3DDD5;
    padding: 10px 0;
}

.container {
    max-width: 1540px;
    margin: 0 auto;
}

.containersp {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;

}

.wrapcontainer {
    display: flex;
    justify-content: space-between;
}

.subhead1 h2 {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 20px;
    text-align: end;
    color: #0A0A0A;
}

.subhead1 a {
    font-weight: 800;
    color: #0A0A0A;
    text-decoration: none;
}

.subhead2 p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #0A0A0A;
    text-align: end;
}

.head2 {
    padding: 30px 0px 20px 0px;
}

.head2subhead2 {
    display: flex;
    justify-content: space-around;
}

.head2subhead2 ul {
    display: flex;
}

.head2subhead2 ul li {
    list-style: none;
    padding: 0 20px;
}

.head2subhead2 ul li a {
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 20px;
    color: #02050E;
    text-decoration: none;
}

.shop a {
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 18px;
    color: #02050E;
    text-decoration: none;

}

.signup {
    background: #02050E;
    padding: 10px 20px !important;
    border-radius: 5px;
    color: white !important;
    margin: 0 30px;
}

.head3 {
    background-image: url(./imges/Rectangle.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 250px 0;
    background-color: #EDEDED;
}

.head3sec1 h2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 53px;
    text-transform: uppercase;
    color: #0A0A0A;
}

.head3sec1 p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    color: #0A0A0A;
    padding: 30px 0;
}

.head3sec1 a {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    background: #629E2C;
    border-radius: 50px;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
    padding: 10px 30px;
}

.head3bottom {
    margin-top: -9px;
}

.head4 {
    padding: 80px 0px 60px 0px;
}

.head4sec1 h2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    line-height: 53px;
    text-align: center;
    text-transform: uppercase;
    color: #0A0A0A;
}

.head4sec1 p {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    color: #525252;
    padding: 30px 0;
}

.head4sec2 {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
    align-items: center;
}

.smimg img {
    margin: 15px 8px;
}

.review {
    display: flex;
    padding: 20px 0px;
}

.review p {
    font-family: 'Poppins';
    padding-top: 5px;
}

.head4sec2sub2 h2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 40px;
    letter-spacing: 0.2px;
    color: #222222;
}

.head4sec2sub2 p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.2px;
    color: #525252;
}

.cllr {
    color: #629E2C;
    font-weight: 700;
}

.buyimg {
    margin: 30px 0px;
}

.buyimg img {
    width: 300px;
}

.form {
    display: flex;
    flex-direction: column;
}

.form label {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0.03em;
    color: #61656C;
}

#box {
    padding: 15px;
    width: 38rem;
    margin-top: 10px;
}

.price {
    margin-top: 40px;
}

.pricesp {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 27px;
    line-height: 48px;
    letter-spacing: 0.2px;
    text-decoration-line: line-through;
    color: #B0B0B0;
}

.price p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 27px;
    line-height: 48px;
    letter-spacing: 0.2px;
    color: #222222;
}

.addmin {
    border: 1px solid #DDDDDD;
    padding: 15px 20px;
    border-radius: 50px;
    width: 110px;
}

.valinp {
    border: none;
    width: 30px;
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    font-family: poppins;
}

.addmin button {
    border: none;
    background: transparent;
    font-size: 1rem;
    font-weight: bold;
}

.adc {
    background: #629E2C;
    border-radius: 61px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 25px;
    text-align: center;
    letter-spacing: 0.2px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-left: 20px;
    text-decoration: none;
    padding: 14px 128px
}

.badd {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.head5 {
    background: #F7FDFF;
    padding: 80px 0px;
}

.head5row2col1,
.head5row2col2,
.head5row2col3,
.head5row2col4 {
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.head5row1 h2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    line-height: 53px;
    text-align: center;
    text-transform: uppercase;
    color: #0A0A0A;
}

.head5row1 p {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    color: #525252;
    padding-top: 20px;
}

.head5row2 {
    display: flex;
    padding-top: 10px;
    justify-content: space-between;
    align-items: end;
}

.head5row2img {
    justify-content: center;
    display: flex;
  }

.head5row2h2 {
    position: relative;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 72px;
    text-align: center;
    color: #0A0A0A;
}

.head5row2p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    color: #525252;
}

.head6 img {
    width: 100%;
}

.head6im2 {
    margin-top: -12px;
}

.head7 {
    padding: 80px 0px;
}

.head7row2h3 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 31px;
    line-height: 72px;
    color: #000000;
}

.head7c ul {
    padding-left: 1rem;
}

.head7li {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
    margin-top: 1rem;
}

.head8row2,
.head7row2 {
    display: flex;
    justify-content: space-evenly;
    padding-top: 60px;
}

.head7row3 a {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    background: #629E2C;
    border-radius: 50px;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
    padding: 10px 30px;
}

.head7row3 {
    padding-top: 75px;
    text-align: center;
}

.head8 {
    background: #EDEDED;
    padding: 80px 0px;
}

.head8row2c {
    background-color: white;
    padding: 25px 100px;
    display: flex;
    flex-direction: column;
    border-radius: 6px;
}

.head8row2p {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #1B1B1B;
    padding-top: 20px;
}

.head8h6 {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    text-align: center;
    color: #1B1B1B;
    padding-top: 15px;
}

.head8p {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    text-align: center;
    color: #1B1B1B;
    padding-top: 5px;
}

.footer {
    display: flex;
    justify-content: space-evenly;
    padding: 50px 0px;
}

.footerh2 {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 38px;
    color: #02050E;
    padding-bottom: 12px;
}

.footerc1p {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #02050E;
}

.footerc1b {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    color: #02050E;
    padding-top: 4px;
}

.footimg {
    padding-top: 4px;
}

.footimgp {
    display: grid;
    grid-template-columns: 18% 60%;
}

.footerc2 p {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
    text-align: center;
    color: #525252;
}

.footerc2img {
    margin: 5px 0px;
}

.footerc3p {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #02050E;
}


.gallery {
    width: 100%;
    max-width: 620px;
    margin: 40px auto;
}

.gallery-slider {
    width: 100%;
    height: auto;
    margin: 0 0 10px 0;
}

.gallery-slider .swiper-slide {
    width: 100%;

}

.gallery-slider .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.gallery-thumbs {
    width: 100%;
    padding: 0;
    overflow: hidden;
}

.gallery-thumbs .swiper-slide {
    width: 100px;
    height: 100px;
    text-align: center;
    overflow: hidden;
}

.gallery-thumbs .swiper-slide img {
    width: 100%;
    height: 100%;
}


.imgvideo {
    cursor: pointer;
}


.ytvideo {
    position: relative;
    margin: 0;
    padding: 0;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    cursor: pointer;
}

.ytvideo iframe {
    border-style: none;
    height: 100%;
    width: 100%;
}